{{> header}}

<div class="stories-section-wrapper">
    <a href="#/sections/stories/create">Tell us your story</a>
    <a href="">our most liked stories</a>

   

  
  <form action="#/user/profile/delete" method="POST">
    <button class="submit-btn" type="submit">Delete profile</button>
  </form>

</div>


{{> footer}}