{{> header}}

<div class="stories-section-wrapper">
  {{!-- <a href="#/sections/stories/create">Tell us your story</a>
  <a href="">our most liked stories</a> --}}





  <a href="#/sections/stories/create" class="submit-btn" type="submit">Share your story</a>


</div>


{{> footer}}