/* form buttons */
.submit-btn {
    height       : 42px;
    width        : 440px;
    font-size    : 17px;
    padding      : 5px 40px;
    border-radius: 2%;

    box-shadow      : 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(161, 153, 56);
    text-shadow     : 1px 1px 1px rgb(21, 13, 128);
}

.submit-btn-wrapper {
    padding-top        : 55px;
    padding-bottom     : 35px;
    /* background-color: aquamarine; */
    display            : -webkit-box;
    display            : -webkit-flex;
    display            : -moz-box;
    display            : -ms-flexbox;
    justify-content    : center;

}

.submit-btn:hover {
    cursor          : pointer;
    background-color: rgb(136, 122, 41);
    color           : rgb(37, 70, 43);
}

.share-story-btn-wrapper {
    position   : relative;
    display: flex;
    text-align: center;
    margin-top : 40px;
    width      : 100%;
    display            : -webkit-box;
    display            : -moz-box;
    display            : -ms-flexbox;
    left: 41.5%;
    right: 65%;
    /* padding-left: 42.5%; */
}

.create-story-btn {
    position  : relative;
    text-align: center;
    margin-top: 255px;

    justify-content : center;
    box-shadow      : 5px 5px 16px 2px rgba(0, 39, 13, 0.24), 5px 12px 50px 25px rgba(75, 68, 5, 0.19);
    background-color: rgb(240, 237, 205);
    text-shadow     : 1px 1px 1px rgb(21, 13, 128);
    text-decoration : none;

    height       : 42px;
    width        : 440px;
    font-size    : 17px;
    padding      : 10px 140px;
    border-radius: 7%;
}

.create-story-btn:hover {
    background-color: rgb(152, 243, 4);
    text-align      : left;
}