.featurette-heading {
    font-size: 40px;
    position : sticky;
    color    : rgb(3, 63, 116);

    text-align   : center;
    text-shadow  : 2.1px 2px 2px rgb(0, 34, 17);
    opacity      : 0.3;
    /* background: -webkit-linear-gradient(bottom, #79e7a4, #392abb, rgb(441,112,4145)); */
}

.featurette-heading,
.text-highlighted {
    color                     : rgb(138, 189, 124);
    text-shadow               : 2.1px 2px 2px rgb(1, 1, 231);
    background-image          : linear-gradient(left, rgb(105, 105, 238), rgb(43, 161, 43), rgb(71, 71, 51), rgb(47, 98, 207), rgb(6, 34, 8));
    -webkit-text-fill-color   : transparent;
    /* -webkit-background-clip: text; */
}

.new-article {
    padding-top: 100px;
    margin-top : 100%;
}






/* 
 *   SECTION - STORIES  
 */

.stories-section-wrapper {
    position   : static;
    padding-top: 2%;
    text-align : center;

    position  : static;
    max-height: 50%;

}

.stories {
    display        : inline-flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.current-story {
    background                : #fff;
    max-height                : 750px;
    margin                    : 10px;
    width                     : 435px;
    padding                   : 15px;
    line-height               : 25px;
    color                     : #8e8b8b;
    position                  : sticky;
    /* border                 : 0.1px double rgba(234, 234, 238, 0.5); */
    border-top-right-radius   : 3%;
    border-top-left-radius    : 3%;
    transition                : ease-in-out 0.5s;
    box-shadow                : inset 10px 55px 21px -5px rgba(130, 143, 125, 0.2), 8px 8px 15px 1px rgb(69, 71, 87);
    
}

/* Prevents the text from going outside the box */
.story-paragraph p {
    height  : 210px;
    color   : black;
    overflow: hidden;
}

/* To make sure that longer titles/texts won't go outside the box  */
p,
h3,
h2,
h1,
h4,
h5 {
    text-overflow: ellipsis;
}

/* changing the color of the story content only  */
.stories .current-story:hover {
    background-color   : rgb(14, 121, 124);
    /* transition      : ease 0.5s; */
    box-shadow         : inset 10px 70px 21px -5px rgba(50, 65, 49, 0.2), 29px 25px 15px 1px rgb(69, 71, 87);
    transform          : scale(1.1);
    transition         : ease-in-out 0.5s;

    z-index: 1;
}



/* prevents the image from going outside the container  */
.rescued-animal-img-wrapper {
    overflow: hidden;
}

/* .stories  */
.current-story h3 {
    position  : relative;
    color     : #089abe;
    font-size : 26px;
    margin-top: 50px;
}

.by-story-article-owner {
    font-size  : 13px;
    font-weight: bold;
    color      : rgb(196, 194, 194);
}

/* .stories .current-story p */
.story-article-owner {
    color         : rgb(196, 194, 194);
    margin        : 12px 10;
    font-size     : 12px;
    text-transform: uppercase;
    font-weight   : bold;
    font-size     : 13px;
}

/* current story - image container  */
/* .stories .current-story  */
.rescued-animal-img-wrapper {
    position     : absolute;
    top          : -75px;
    left         : 50%;
    transform    : translateX(-50%);
    width        : 200px;
    height       : 140px;
    border-radius: 50%;
}

/* image should be withing the container size  */
.stories .current-story .rescued-animal-img-wrapper img {
    width     : 200px;
    height    : 140px;
    /* For smooth transition when scaling */
    transition: transform .5s, filter 0.5s ease-in-out;
    filter    : grayscale(0);
}

/* Hover the entire story container and the image will scale  */
.stories .current-story:hover .rescued-animal-img-wrapper img {
    transform: scale(1.4);
    filter   : grayscale(1);
}

.story-paragraph {
    text-align: left;
    color     : #837979;
    /* padding: 5px; */

}

.stories,
.current-story:hover,
.story-paragraph p {
    color: rgb(202, 202, 209);
}

.story-title h3 {
    font-size    : 22px;
    white-space  : pre;
    overflow     : hidden;
    text-overflow: ellipsis;
    color        : #2f32c0;
    text-shadow  : 1px 1px 1px rgb(7, 145, 92);
    /* max-height: 22px; */
}

.story-image-render {
    height    : 150px;
    width     : 150px;
    box-sizing: border-box;
}

.current-story-dashboard {
    position               : relative;
    width                  : 34%;
    min-width              : 350px;
    max-width              : 810px;
    background             : #fff;
    max-height             : 700px;
    margin                 : 20px;
    padding                : 16px;
    line-height            : 25px;
    color                  : #8e8b8b;
    position               : sticky;
    border                 : 0.1px double rgba(234, 234, 238, 0.5);
    border-top-right-radius: 2%;
    border-top-left-radius : 2%;
    transition             : ease-in-out 0.4s;
    box-shadow             : inset 10px 70px 21px -5px rgba(50, 65, 49, 0.2), 8px 8px 15px 1px rgb(69, 71, 87);
}

.current-story-dashboard:hover {
    color           : rgb(202, 202, 209);
    background-color: rgb(14, 121, 124);
    transition      : ease 0.5s;
    box-shadow      : inset 10px 70px 21px -5px rgba(50, 65, 49, 0.2), 29px 25px 15px 1px rgb(69, 71, 87);
    transform       : scale(1.1);
    transition      : ease-in-out 0.4s;

    z-index: 1;
}

.stories-no-story-picture {
    height : 65px;
    padding: 20px;
    margin : 0 auto;
}

.share-story-btn-wrapper {
    margin: 0 auto;
}

.authors-story-dot {
    position     : absolute;
    width        : 10px;
    height       : 10px;
    background-color: rgb(61, 95, 9);
    display      : inline-block;
    border-radius: 50%;
    right        : 3px;
    bottom       : 3px;
}