.no-story-img {
    margin-top: 100px;
}

.see-the-whole-story-wrapper {
    margin     : auto;
    width      : 60%;
    padding    : 0px;
    text-shadow: 1px 1px 1px rgb(21, 13, 128);
}

.see-the-whole-story {
    text-decoration: rgb(185, 185, 11);
}

.see-the-whole-story:hover {
    font-weight     : bold;
    transform-origin: bottom;
    box-shadow      : inset 10px 70px 21px -5px rgba(69, 99, 68, 0.2), 29px 25px 15px 1px rgb(69, 71, 87);
    transform       : scale(1.1);
    transition      : ease-in-out 0.2s;

    border                 : 0.1px double rgba(234, 234, 238, 0.5);
    border-top-right-radius: 5%;
    border-top-left-radius : 5%;
}

.story-paragraph p {
    text-shadow: 1px 1px 1px rgb(21, 13, 128);
}
