.create-story-wrapper {
    position     : relative;
    display      : inline-block;
    color        : rgb(216, 212, 221);
    margin-left  : 2px;
    text-align   : center;
    border-radius: 16px;
    padding      : 5px 35px 5px 35px;
    opacity      : 0.8;
    background   : -webkit-linear-gradient(bottom, #6e5518, #883022, rgb(68, 68, 90));
}

.story-background-image {
    background-image      : url('../images/new-story-img/dog.png');
    min-height            : max-content;
    height                : 902px;
    /* Center and scale the image nicely */
    background-position   : center;
    background-repeat     : no-repeat;
    background-size       : cover;
    position              : relative;
    /* position           : relative; */
}

.new-story-title,
.new-story-description,
.new-story-email,
.new-story-phonenumber,
.new-story-photos {
    display       : flow-root;
    font-family   : Poppins-Medium;
    font-size     : 16px;
    text-shadow   : 1.1px 1px 1px rgb(243, 0, 0);
    color         : rgb(28, 197, 5);
    line-height   : 1.2;
    text-align    : center;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top   : 2px;
    opacity       : 0.9;
}

.story-input-container,
.story-input-field {
    opacity      : 0.9;
    color        : #05ffea;
    display      : -ms-flexbox;
    display      : inline-flex;
    width        : fit-content;
    margin-bottom: 15px;
}

.story-description {
    /* text-align: center; */
    font-family: Poppins-Medium;
    font-size  : 16px;
    color      : rgb(6, 0, 22);
    border     : 2.0px double rgb(211, 207, 3);
    height     : 200px;
    width      : 425px;
    text-align : left;
}

.new-story-description {
    margin-top: -22px;
    padding   : 1%;
}

#story-title {
    width : 430px;
    height: 37px;
}

.story-input-field {
    width        : 425px;
    height       : 35px;
    box-sizing   : border-box;
    border-color : #f0f002;
    border-radius: 5px;
    font-size    : 16px;
    transition   : width 0.4s ease-in-out;
    color        : #2b3002;

    /* bottom: 110;
  right : 110; */
}

.story-input-field:focus {
    border: 2.0px double rgb(11, 206, 86);
    width : 460px;
}

/* preview on story pictures */

.story-image {
    height : 150px;
    width  : 150px;
    padding: 2px;
}

/* Makes the default "Choose file" look better :) */
.new-story-photos {
    padding-bottom : 35px;
    display        : -webkit-box;
    display        : -webkit-flex;
    display        : -moz-box;
    display        : -ms-flexbox;
    justify-content: center;

}

#upload-story-images {
    opacity  : 0;
    z-index  : -1;
    position : absolute;
    /* height: 140px;
    width    : 420px; */
}

.label-upload-img {
    text-transform: initial;
    font-size: 16px;
}

.upload-pic {
    height : 12px;
    width  : 20px;
    display: inline-flex;
}

.label-upload-img:hover {
    border          : 2.0px double rgb(198, 241, 5);
    cursor          : pointer;
    background-color: rgb(94, 80, 4);
    color           : rgb(235, 231, 225);
}

.story-image-render:active {

    /* 400% zoom on click, transforming from top to bottom */
    transform       : scale(4);
    transform-origin: top;
}

.story-image-render:hover {
    cursor: pointer;
}

/* 
*      COMMENTS 
*/

.comment-photo {
    width        : 55px;
    height       : 55px;
    border-radius: 50%;
    margin-right : 7px;
    margin-top   : 2px;
}

.story-comment-content {
    text-shadow        : 1px 1px 1px rgb(5, 32, 14);
    font-size: 16px;
}

.entire-comment-wrapper {
    display: block;
    padding: 11px;

}

.comment-info {
    display: inline-flex;
}

.story-comment-wrapper {
    width                    : 550px;
    height                   : fit-content;
    border-style             : groove;
    margin                   : 0 auto;
    border-radius            : 2%;
/* Prevents the text from going outside the div      */
    word-wrap                : break-word;
    text-align               : left;
}

.story-comment-userInfo {
    display: inline-flex;
    font-size: 16px;
    color: #032e2a;
}

.story-comment-userInfo-wrapper {
    text-align: left;
}

.story-comment-datetime {
    font-size: 13px;
}