{{> header}}

<div class="home-content">
  <div class="home-content-wrapper">
    <div class="head-pic-wrapper">
      <img src="../images/rescued-dog-header.png" class="head-pic">
      <h2 class="featurette-heading">Be part of a <span class="text-highlighted">better world</span>!</h2>
    </div>

    <div class="stories-section-wrapper">
      <h1>.</h1>
      <div class="stories">
        <div class="current-story">
          <div class="rescued-animal-img-wrapper">
            <img src="../../images/saved animals/1.png">
          </div>
          <div class="story-title">
            <h3>It all happened when dpqonsectetur adipisicing elit. Est quaerat tempora, voluptatumwok dpoqwdk pqok
            </h3>
          </div>
          <p class="by-story-article-owner">by</p>
          <p class="story-article-owner">Gosho</p>
          <div class="story-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil
              nulla harum nemo distinctio quam blanditiis dignissimos.Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div>

        <div class="current-story">
          <div class="rescued-animal-img-wrapper">
            <img src="../../images/saved animals/2.png">
          </div>
          <div class="story-title">
            <h3>Couldn't believe it! One day I was walking</h3>
          </div>
          <p class="by-story-article-owner">by</p>
          <p class="story-article-owner">Ivan Petrov</p>
          <div class="story-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla h....</p>
          </div>
        </div>

        <div class="current-story">
          <div class="rescued-animal-img-wrapper">
            <img src="../../images/saved animals/3.png">
          </div>
          <div class="story-title">
            <h3>A new friendship</h3>
          </div>
          <p class="by-story-article-owner">by</p>
          <p class="story-article-owner">Eminem</p>
          <div class="story-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div>


        {{!-- <div class="current-story">
          <div class="rescued-animal-img-wrapper">
            <img src="../../images/saved animals/2.png">
          </div>
          <h3>Couldn't believe it...</h3>
          <p class="by-story-article-owner">by</p>
          <p class="story-article-owner">Ivan Petrov</p>
          <div class="story-paragraph">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div> --}}
      </div>
    </div>







    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>
    <p>sadas</p>


  </div>
</div>
{{> footer}}